
.main-section-2 {
    background-image: url("../../Assets/background2.png");
    
  }
  .main-section-2-heading {
  
    font: normal normal bold 40px/40px Lato;
    letter-spacing: 0.8px;
    color: #3d3d3d;
  }
  
  
  .main-section-2-card-body1 {
    width: 260px;
    height: 345px;
    background-image: url(../../Assets/coursess-01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 10px #00000029;
    border-radius: 17px;
    margin-right: 20px;
  }
  .main-section-2-card-body2 {
    width: 260px;
    height: 345px;
    background-image: url(../../Assets/coursess-02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 10px #00000029;
    border-radius: 17px;
    margin-right: 20px;
  }
  .main-section-2-card-body3 {
    width: 260px;
    height: 345px;
    background-image: url(../../Assets/coursess-03.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 10px #00000029;
    border-radius: 17px;
    margin-right: 20px;
  }
  .main-section-2-card-body4 {
    width: 260px;
    height: 345px;
    background-image: url(../../Assets/coursess-04.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 10px #00000029;
    border-radius: 17px;
    margin-right: 20px;
  }
  .main-section-2-btn {
    width: 208px;
    height: 48px;
    background: transparent linear-gradient(180deg, #ff3334 0%, #801a1a 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 4px 6px 10px #00000029;
    border-radius: 8px;
   
    font: normal normal bold 16px/24px Lato;
    letter-spacing: 0.38px;
    color: #ffffff;
    
  }
  @media screen and (max-width: 600px) {
    .main-section-2-card-body1{
        margin-left: 50px !important;
    }
    .main-section-2-card-body2{
      margin-left: 50px !important;
  }
  .main-section-2-card-body3{
    margin-left: 50px !important;
}
.main-section-2-card-body4{
  margin-left: 50px !important;
}
.main-section-2-heading{
  font-size: 25px;
}


   }