.explore{
    background-image: url(../Images/nordwood-themes-R53t-Tg6J4c-unsplash.png);
}
.img1{
    position:absolute;
    z-index: 100;
    font-size: 25px;
    color: #fff;
    margin-left: 20px;
    margin-top: 10px;

}
.img2{
    position:absolute;
    z-index: 100;
    font-size: 25px;
    color: #fff;
    margin-left: 20px;
    margin-top: 170px;

}
.img3{
    position:absolute;
    z-index: 100;
    font-size: 25px;
    color: #fff;
    margin-left: 20px;
    margin-top: 400px;

}

table{border: none;}
@media screen and (max-width: 700px) {
    .poster1{
        width: 100px;
      
    }
    .poster2{
        width: 100px;
    }
    .poster3{
        width: 100px;
    }
    .poster4{
        width: 100px;
    }

    .poster5{
        width: 100px;
    }
    .poster6{
        width: 200px;
    }
    .img1{
       font-size: 8px;
       margin-left: 5px;
       margin-top: 10px;
    }
    .img2{
        font-size: 8px;
        margin-left: 5px;
       margin-top: 10px;
    }
    .img3{
        font-size: 8px;
        margin-left: 5px;
       margin-top: 10px;
    }
    .img4{
        font-size: 8px;
        margin-left: 5px;
       margin-top: 10px;
    }
    .img5{
        font-size: 8px;
        margin-left: 10px;
       margin-top: 10px;
    }
    .img6{
        font-size: 8px;
        margin-left: 20px;
       margin-top: 10px;
    }

  }