.graphicDesignTop{
    background-image: url(../../Assets/backgroundGroup.png);
 
}
.second-background{
    background-image: url(../Images/Path.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 600px;
 
}
.header{
    
    height: 50px;
}

.header li{
    float: left;
    margin-right: 50px;
}

.ozi-text, .second-main p{
    font-size: 15px;
    color: #848282;
    font-weight: 400;
}

.main-group{
    background-color: #d9d9d956;
}