.description-heading{
    font-weight: 500;
}
.course-content-tab{
    
    font-size: 16px;
    padding-top: 20px;
    padding-bottom:10px ;
    font-weight: 500;
    color:#848282;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
@media screen and (max-width: 600px) {
    .course-content-tab{
        margin-left: -80px !important;
    }
   }