.graphicDesignTop{
    background-image: url(../Images/nordwood-themes-R53t-Tg6J4c-unsplash.png);
 
}
.second-background{
    background-image: url(../Images/Path.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 600px;
 
}
.header{
    
    height: 50px;
}

.header li{
    float: left;
    margin-right: 50px;
}