.description-heading{
    font-weight: 500;
}
.description-text{
    color: #848282;
}
.career-pic{
    width: 350px;
    height: 250px;
    margin-left: 200px;
}
@media screen and (max-width: 600px) {
    .career-pic{
        margin-left: 10px !important;
    }
   }