.footer {
  background-image: url(./Images/footer.png);
  background-size: cover;
  height: fit-content;
  background-repeat: no-repeat;
  color: #848282;
}
.footer-logo {
  height: 78px;
  width: 200px;
  margin-top: 100px;
}
.footer li {
  list-style-type: none !important;
  padding: 10px;
}
.link-section {
  padding-top: 70px;
  text-align:left;
}
.footer-logo{
  display: flex;
  margin: 0;
  padding: 0%;
  
}
.footer-contact span{
  font-weight: 100;
}
.footer-links{
  width: 70px;
  height: 70px;
}
.footer-contact th{
  margin: 12px 12px 12px 12px;
  padding: 12px 12px 12px 12px;
}
